<%-include header %>
    <div class="container">
    	<div class="row">
            <div class="col-xs-8">
                <img src="images/banner.jpg" class="banner">
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">最新公告</div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">公告测试文字测试文字</a></li>
                        <li class="list-group-item"><a href="#">公告测试文字测试文字</a></li>
                        <li class="list-group-item"><a href="#">公告测试文字测试文字</a></li>
                        <li class="list-group-item"><a href="#">公告测试文字测试文字</a></li>
                        <li class="list-group-item"><a href="#">公告测试文字测试文字</a></li>
                        <li class="list-group-item"><a href="#">公告测试文字测试文字</a></li>
                        <li class="list-group-item"><a href="#">公告测试文字测试文字</a></li>
                        <li class="list-group-item"><a href="#">公告测试文字测试文字</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <% commodities.forEach(function(commodity, index){
                    %>
                        <div class="col-xs-2 commodity-item">
                            <a href="item?id=<%= commodity._id %>">
                                <img src="images/nopic.png" class="img-responsive">
                                <p class="commodity-title"><%= commodity.name %></p>
                            </a>
                            <p><span class="new-price">￥<%= commodity.price %></span><span class="old-price">￥<%= commodity.oldPrice %></span></p>
                        </div>
                    <%
                    }) 
                %>
            </div>
        </div>
    </div>
<%- include footer %>