<%- include header %>
<div class="container">
<div class="panel panel-default">
  <div class="panel-body">
    欢迎您，<%= user.nickName %>！
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
      <a class="btn btn-default" type="button" href="/user-center">我的订单</a>
      <a class="btn btn-warning" type="button">我的货物</a>
      <a class="btn btn-default" type="button" href="/user-info">个人资料</a>
    </div>
  </div>
  <div class="col-xs-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">我的货物</h3>
      </div>
      <div class="panel-body">
        <a class="btn btn-danger" type="button" href="/upload-commodity">新增商品</a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>序号</th>
              <th>商品名称</th>
              <th>商品定价</th>
              <th>商品原价</th>
              <th>库存</th>
              <th>状态</th>
              <th>操作</th>
          </thead>
          <tbody>
            <% if(commodities.length!=0){
                commodities.forEach(function(commodity, index){
                %>
                    <tr>
                      <th scope="row"><%= index+1 %></th>
                      <td><%= commodity.name %></td>
                      <td><%= commodity.price %></td>
                      <td><%= commodity.oldPrice %></td>
                      <td><%= commodity.inventory %></td>
                      <td>
                          <% if(commodity.trade == 0){%> 在架上 <%}
                          else if(commodity.trade == 1){%> 已下架 <%}
                          %>
                      </td>
                      <td>
                        <a class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </td>
                    </tr>
                <%
                })
            }else{
              %> 暂无商品！ <%
            }
            %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<%- include footer %>